<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ouro</title>
</head>
<body>

<!--
<script type="module" src="src/components/x-field"></script>
<script type="module" src="src/components/x-textfield"></script>
-->

<x-textfield label="First name"></x-textfield>
<x-textfield label="Last name"></x-textfield>


</body>
</html>
